/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* global css  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

.text-primary {
  color: #e55473;
}

/* footer related css  */
.footer {
  background: #111010;
}

.footer-title {
  text-align: center;
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  padding-top: 90px;
}

.footer-description {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  padding-top: 20px;
}

.footer-description2 {
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 100px;
}
